h2.page-title="@"+user.username

-if(account && account.username && account.username==user.username)
  h2 ¿Que está ocurriendo?
  form(action='/tweet',method="post")
    textarea(name="tweet").form-control
    input(type="submit", value="Tweet").btn.btn-primary

div.row
  -for(var i=0; i<tweets.length; i++)
    div.well.col-sm-6.col-xs-12
      div
        a(href="/"+tweets[i].username) = tweets[i].username
      span=tweets[i].text
      smalll="Hace "+haceCuanto(tweets[i].date)
